<article id="post-69"
         class="article--page article--main border-simple post-69 page type-page status-publish has-post-thumbnail hentry">
    <section class="article__content">
        <div class="container">
            <section class="page__content  js-post-gallery  cf">
                <div class="pixcode  pixcode--grid  grid" ng-if="(model.head1 || model.head1 !== '') && (model.head2 || model.head2 !== '')">

                    <div class="grid__item six-twelfths palm-one-whole ">

                        <p cms-editable-transclude="model.head1">{{model.head1}}</p>

                    </div>

                    <div class="grid__item six-twelfths palm-one-whole ">

                        <p cms-editable-transclude="model.head2">{{model.head2}}</p>

                    </div>

                </div>

                <div class="pixcode  pixcode--grid  grid  ">

                    <div class="grid__item six-twelfths palm-one-whole" ng-repeat="position in ['left','right']">

                        <div class="menu-list menu-list__dotted">
                            <div ng-repeat="element in model[position].element" ng-init="i = $index">
                                <div ng-if="element.choice === 'header'">
                                    <h2 class="menu-list__title">
                                        {{element.header}}</h2>
                                    <hr class="separator">
                                </div>
                                <div ng-if="element.choice === 'item'">
                                    <ul class="menu-list__items">
                                        <li class="menu-list__item" ng-repeat="item in element.item">
                                            <div ng-if="!item.highlight || item.highlight == ''">
                                                <h4 class="menu-list__item-title"><span class="item_title">{{item.title}}</span><span
                                                        class="dots"></span></h4>
                                                <p class="menu-list__item-desc"><span class="desc__content">{{item.subTitle}}</span>
                                                </p>
                                                <span class="dots"></span>
                                                <span class="menu-list__item-price" ng-if="item.price > 0">{{item.price}} €</span>
                                            </div>
                                            <div ng-if="item.highlight && item.highlight!=''"
                                                 class="menu-list__item-highlight-wrapper">
                                                <span class="menu-list__item-highlight-title">{{item.highlight}}</span>
                                                <h4 class="menu-list__item-title"><span class="item_title">{{item.title}}</span><span
                                                        class="dots"></span></h4>
                                                <p class="menu-list__item-desc"><span class="desc__content">{{item.subTitle}}</span>
                                                </p>
                                                <span class="dots"></span>
                                                <span class="menu-list__item-price" ng-if="item.price > 0">{{item.price}} €</span>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--<p>&nbsp;</p>
                <div class="pixcode  pixcode&#45;&#45;separator  separator separator&#45;&#45;flower">✻</div>-->

            </section>
        </div>
    </section>
</article>